LRE_ENABLE_FAULT_INJECTION=false
LRE_STAGE_DELAY_MS=300
LRA_TRANSLATOR_ENDPOINT=https://api.cognitive.microsofttranslator.com
LRA_TRANSLATOR_REGION=global
LRA_TRANSLATOR_RESOURCE_ID=/subscriptions/<subscription-id>/resourceGroups/<resource-group>/providers/Microsoft.CognitiveServices/accounts/<translator-resource>
